# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# 虚拟环境
.venv/
venv/

# IDE
.vscode/
.idea/

# 环境变量
.env
.env.local
.env.*.local

# 测试
.pytest_cache/
.coverage
htmlcov/

# Alembic
alembic/versions/__pycache__/

# Docker
*.log
